.sign-in
  .logo Cwitter
  %h1.sign-in__title ログイン
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    -# TODO ユーザ名でもログインできるように
    = f.input :email, autofocus: true
    = f.input :password, autocomplete: 'current-password'
    = f.input :remember_me, as: :boolean, wrapper: :checkbox
    = f.button :submit, 'ログイン'
