.profile
  .profile__name
    = link_to @user.name, user_path(@user.screen_name)
  .profile__screen-name
    = link_to "@#{@user.screen_name}", user_path(@user.screen_name)

  = follow_button(@user)

.user-data-list
  = link_to user_path(@user.screen_name), class: 'user-data-list__item' do
    .user-data-list__item-label
      ツイート
    .user-data-list__item-value
      = @user.tweets.count

  = link_to following_path(@user.screen_name), class: 'user-data-list__item' do
    .user-data-list__item-label
      フォロー
    .user-data-list__item-value
      = @user.follows.count

  = link_to followers_path(@user.screen_name), class: 'user-data-list__item' do
    .user-data-list__item-label
      フォロワー
    .user-data-list__item-value
      = @user.followers.count
